.article-list {
  @include clear-lists-style;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  grid-gap: 30px;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: 512px;
  }
}

.article-list__element {
  display: flex;
}

.article-list__element--big {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (max-width: $desktop-width) {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
}
