.catalog {
  position: relative;
  padding-left: 98px;
  padding-right: 98px;
  margin-bottom: 73px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
  column-gap: 50px;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;

    &::after {
      display: none;
    }
  }
}

.catalog::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3%;
  width: 100%;
  height: 1px;
  background-color: $layout-white-darker;
}

.catalog__pagination {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 70px;
  justify-items: center;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
}

.catalog__pagination-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.catalog__pagination-list-element {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.catalog__pagination-list-link {
  text-decoration: none;
  font-family: $default-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $layout-grey;
}

.catalog__pagination-list-link--active {
  color: $layout-black-lighter;
}

.catalog__pagination-list-link:hover,
.catalog__pagination-list-link:focus {
  text-decoration: underline;
}

.catalog__pagination-list-link:active {
  opacity: 0.7;
}

.catalog__pagination-button {
  display: block;
  text-decoration: none;
  font-family: $default-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $layout-black-lighter;
  justify-self: start;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.catalog__pagination-button--next {
  justify-self: end;
}

.catalog__filter-button {
  display: none;
  text-align: center;

  @media (max-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.catalog__filter-button--no-js {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.catalog__form-wrapper {
  @media (max-width: $desktop-width) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    overflow: scroll;
  }
}

.catalog__form-wrapper--active {
  @media (max-width: $desktop-width) {
    display: block;
    z-index: 9999;
  }
}
