.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 98px;
  padding-left: 98px;
  margin-bottom: 135px;

  h2 {
    font-family: $extra-font;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: $layout-black-lighter;
    margin: 0;
    margin-bottom: 20px;
  }

  @media (max-width: $desktop-width) {
    padding-right: 45px;
    padding-left: 45px;
    margin-bottom: 80px;

    h2 {
      margin-bottom: 15px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.company-info__special-symbol {
  font-size: 42px;
  line-height: 55px;
}

.company-info__follow-us-link {
  text-decoration: none;
  font-family: $default-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $layout-black-lighter;
  border-bottom: 1px solid $layout-brown;
  /* margin-bottom: 78px; */
  margin-bottom: 76px;

  &:active {
    opacity: 0.7;
  }

  &:focus,
  &:hover {
    border-bottom: 1px solid $layout-black-lighter;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 63px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 49px;
  }
}
