.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 98px;
  padding-left: 98px;
  margin-bottom: 130px;

  h2 {
    font-family: $extra-font;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: $layout-black-lighter;
    margin-bottom: 35px;
  }
}

.company-info__special-symbol {
  font-size: 42px;
  line-height: 55px;
}

.company-info__fillow-us-link {
  text-decoration: none;
  font-family: $default-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $layout-black-lighter;
  border-bottom: 1px solid $layout-brown;
  margin-bottom: 60px;

  &:active {
    opacity: 0.7;
  }

  &:focus,
  &:hover {
    border-bottom: 1px solid $layout-black-lighter;
  }
}
