.faq-list {
  @include clear-lists-style;
  width: 100%;
  border: 1px solid $layout-brown;
}

.faq-list__element {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 45px;
  padding-right: 75px;
  border-bottom: 1px solid $layout-brown;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    font-family: $default-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $layout-black-lighter;
    margin: 0;
  }

  p {
    display: none;
    width: 520px;
    font-family: $default-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $layout-black-lighter;
    margin: 0;
    margin-top: 10px;
    padding-left: 5px;
  }

  @media (max-width: $desktop-width) {
    padding-left: 50px;

    p {
      width: 530px;
      margin-top: 30px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 19px;
    padding-right: 50px;

    h3 {
      font-size: 16px;
      line-height: 22px;
      width: 187px;
    }

    p {
      width: 205px;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
      padding-left: 0;
    }
  }
}

.faq-list__element--selected {
  p {
    display: block;
  }
}

.faq-list__element--no-js {
  p {
    display: block;
  }
}

.faq-list__link {
  position: absolute;
  display: block;
  top: 35px;
  right: 50px;

  &:hover,
  &:focus {
    .faq-list__svg {
      stroke: $layout-black;
    }
  }

  &:active {
    .faq-list__svg {
      opacity: 0.7;
    }
  }

  @media (max-width: $tablet-width) {
    top: 25px;
    right: 25px;
  }
}

.faq-list__link--selected {
  transform: rotate(180deg);
}

.faq-list__link--no-js {
  display: none;
}

.faq-list__svg {
  width: 15px;
  height: 8px;
  fill: transparent;
  stroke: $layout-brown;

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 10px;
  }
}
