.item-gallery {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  /* grid-template-columns: 100px 1fr;
  grid-template-rows: 125px 125px 125px;
  grid-auto-rows: 125px;
  gap: 30px; */
  grid-template-columns: 17% 78%;
  grid-template-rows: 25% 25% 25%;
  grid-auto-rows: 125px;
  gap: 32px;
  margin-bottom: -10%;

  @media (max-width: $desktop-width) {
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 286px 129px; */
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 62% 28%;
    grid-auto-rows: 129px;
    gap: 14px;
  }

  @media (max-width: $tablet-width) {
    display: block;
    gap: 0;
    /* margin-bottom: 50px; */
    margin-bottom: 0;
  }
}

.item-gallery__element {
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}

.item-gallery__element--main {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  @media (max-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (max-width: $tablet-width) {
    display: block;
    /* height: 260px; */
  }
}

.item-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-gallery__counter {
  display: none;
  position: absolute;

  @media (max-width: $tablet-width) {
    display: block;
    bottom: 5px;
    margin-left: 43%;
  }
}
