.logo {
  display: flex;
  justify-content: center;
  min-width: 66px;

  img {
    width: 66px;
    height: 66px;
  }

  @media (max-width: $tablet-width) {
    img {
      width: 52px;
      height: 52px;
    }
  }
}

.logo--stand-alone-modal {
  margin-top: -55px;

  img {
    width: 45px;
    height: 45px;
  }
}
