.nav-list {
  @include clear-lists-style;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 19px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 45px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}

.nav-list__element {
  margin-left: 16px;
  margin-right: 16px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nav-list__link {
  font-family: $default-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: $layout-black-lighter;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &:active {
    color: $layout-brown;
    text-decoration: underline;
  }

  @media (max-width: $desktop-width) {
    font-family: $default-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $layout-white;

    &:active {
      color: $layout-black;
      text-decoration: underline;
    }
  }
}

.nav-list__link--additional {
  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 23px;
    color: rgba($layout-white, 0.75);
  }
}

.nav-list-additional {
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
    margin-top: 0;
  }
}
