.product-card {
  /* outline: 1px solid greenyellow;
  width: 270px; */
  /* align-items: ; */
  /* height: max-content; */
  height: 100%;
  /* padding: 1px; */

  width: 100%;
}

.product-card__link {
  /* max-width: 270px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $layout-black-lighter;
  width: 100%;

  picture {
    width: 100%;
  }

  img {
    width: 100%;
  }

  h3 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: $default-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  p {
    margin: 0;
    font-family: $default-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    /* outline: 1px solid $layout-brown; */
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;

    h3 {
      color: $layout-brown;
    }
  }

  @media (max-width: $tablet-width) {
    h3 {
      margin-top: 20px;
    }
  }
}

.product-card__img-wrapper {
  height: 284px;
  order: -1;

  width: 100%;

  img {
    /* outline: 1px solid red; */
    display: block;
    height: 284px;
    object-fit: cover;
  }

  @media (max-width: $desktop-width) {
    height: 340px;
  }

  @media (max-width: $tablet-width) {
    height: 130px;
  }
}

.product-card__img-wrapper--long-position {
  img {
    object-position: left 80%;
  }
}

.product-card__img-wrapper--slider {
  @media (max-width: $desktop-width) {
    img {
      height: 340px;
    }
  }

  @media (max-width: $tablet-width) {
    img {
      height: 136px;
    }
  }
}

.product-card__img-wrapper--catalog {
  height: 272px;

  @media (max-width: $desktop-width) {
    height: 208px;

    img {
      height: 208px;
    }
  }

  @media (max-width: $tablet-width) {
    height: 136px;

    img {
      height: 136px;
    }
  }
}
