.promo {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.promo__img-wrapper {
  position: relative;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: 463px;
    object-fit: cover;
  }
}

.promo__promo-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__promo-text-wrapper h2 {
  font-family: $extra-font;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  color: $layout-white;
  margin: 0;
  margin-bottom: 20px;
}

.promo__promo-text-wrapper p {
  font-family: $extra-font;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  color: $layout-white;
  margin: 0;
  margin-bottom: 20px;
}
