// Colors-layout
$layout-white: #ffffff;
$layout-white-darker: #f6f5f4;
$layout-black-lighter: #1d1613;
$layout-black: #000000;
$layout-grey-lighter: #f0eae4;
$layout-grey: #9b9997;
$layout-brown: #a87b62;

//My colors

//Fonts
$default-font: "Poppins", "Arial", sans-serif;
$extra-font: "Cormorant Garamond", "Times New Roman", serif;

// Viewports
$mobile-width-only: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
